<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Correo</label>
        <input type="email" class="form-control" id="inputEmail4" disabled>
      </div>
    </div>
      <div class="form-group col-md-4">
        <label for="inputState">Banco</label>
        <select id="inputState" class="form-control">
          <option selected>Elegir...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-4">
          <label for="inputState">Tipo de cuenta</label>
          <select id="inputState" class="form-control">
            <option selected>Elegir...</option>
            <option>...</option>
          </select>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputAmount4">Cantidad</label>
              <input type="number" class="form-control" id="inputAmount4">
            </div>
          </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>
